# dhcpd.conf
#
# Sample configuration file for ISC dhcpd
#

# option definitions common to all supported networks...
option domain-name "example.org";
option domain-name-servers ns1.example.org, ns2.example.org;

default-lease-time {{ defaultLeaseTime }};
max-lease-time {{ maxLeaseTime }};
min-lease-time {{ minLeaseTime }};
option domain-name "{{ domainName }}";
option domain-name-servers {{ domainNameServers }};

subnet {{ subnet.net }} netmask {{ subnet.mask }} {
  range  {{ subnet.range }};
  option subnet-mask {{ subnet.subnetMask }};
  option routers {{ subnet.routers }};
  host {{ host.name }} {
    hardware ethernet {{ host.mac }};
    fixed-address {{ host.fixedIp }};
  }
}




ddns-update-style none;

